<!DOCTYPE html>
<html>
<head>
  <title>MultiLang</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <nav>
        Language:
        <%= link_to_unless_current "English", locale: "en" %> |
        <%= link_to_unless_current "Japanese", locale: "jp" %> |
        <%= link_to_unless_current "Taiwanese", locale: "tw" %>
    </nav>

<%= yield %>

</body>
</html>
